﻿@model DependencyInjectionClass.Entities.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    The product <span>@Model.Name</span> is sold <strong>@Model.Price</strong> and we just have <strong>@Model.Quantity</strong> in stock.
</div>