﻿@using DependencyInjectionClass.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-responsive table-bordered table-striped" >
    <thead>
        <tr>
            <td>SN</td>
            <td>Product Name</td>
            <td>Amount</td>
            <td>Quantity</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Quantity</td>
            </tr>
        }
    </tbody> 

</table>

